<div class="row">
  <div class="p title col-md-10">
    <h3><%= project.escape('name') %></h3> <span class='score'></span>
    <button class="btn btn-default btn-xs star-btn">
      <i class="fa fa-star"></i>
    </button>
  </div>
  <div class="p author col-md-2">
    <h4><%= project.escape('author') %></h4>
  </div>
</div>
<div class="row">
  <div class="p tags col-md-12">#rails #media #website</div>
</div>
<div class="row">
  <div class="p desc col-md-12">
    <p>
      <%= project.escape('description') %>
    </p>
  </div>
</div>
<div class="row">
  <div class="p col-md-12 btns">
    <span class="buttons-left">
      <a href='<%= project.get("homepage") %>'>website</a> | <a href="<%= project.get('html_url') %>">github</a>
    </span>
  </div>
</div>
