<div class="row">
  <div class="p title col-md-9">
    <h3><%= project.escape('name') %></h3> <span class='score'></span>
    <button class="btn btn-default btn-xs star-btn">
      <i class="fa fa-star"></i>
    </button>
  </div>
  <div class="p author col-md-3">
    <h4>
      <span style="font-size: 14px">by</span>
      <a href='<%= project.authorGithub() %>' ><%= project.authorName() %></a>
    </h4>
  </div>
</div>
<div class="row">
  <div class="p tags col-md-12">
    <ul>
      <% _(project.get('tags')).each(function(tag) { %>
      <li><%= tag %></li>
      <% }) %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="p desc col-md-12">
    <p>
      <%= project.escape('description') %>
    </p>
  </div>
</div>
<div class="row">
  <div class="p col-md-12 btns">
    <span class="buttons-left">
      <% if (project.get('homepage') == "") { project.set('homepage', project.get('html_url')); } %>
      <a target="_blank" href='<%= project.get("homepage") %>'>website</a> |
      <a target="_blank" href="<%= project.get('html_url') %>">github</a>
    </span>
  </div>
</div>
