<!DOCTYPE html>
<html>
<head>
  <title>ProjectBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"></p>

<%= render 'layouts/header' %>

<%= yield %>

<script>
	CURRENT_USER = <%= current_user ? current_user.id : 0 %>;
</script>
</body>
</html>
